body {
  background: cyan;
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  background: green;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
.caixa2{
  position: absolute;
  background: green;
  color: #FFFFFF;
  width:200px;
  height: 200px
  right: 200px;
  bottom: 200px; 
}
.menuPrincipal {
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgb(9, 204, 238);
  font-family: 'Courier New', Courier, monospace;
}